*target*
*.jar
*.jar.pack.gz
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
SavchukKabel/settings.xml
.recommenders*
Servers*
Examples*
SavchukKabel/.project
SavchukKabel/build/*